<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <!--
      configuration avoids the logging 
      from imported libs
  -->
  <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
    <encoder>
      <pattern>%d{ISO8601,Europe/Berlin} [%thread] %-5level %logger{36} - %msg%n</pattern>
    </encoder>
  </appender>
  <property name="level" value="DEBUG"/>
  <logger name="cmp" level="${level}"/>
  <root level="ERROR">
    <appender-ref ref="STDOUT"/>
  </root>
</configuration>
