{:_id "mpd-modbus",
  :Mp
 {
  :Date [{:Type "created", :Value "2020-02-01"}],
  :Name "wait",
  :Description "Modbus test.",
  :Standard "NN"
  :Exchange {
             ;; add state level example for block 0
             }
  :Container
  [{:Description "Test modbus action with prescript"
    :Ctrl "void"
    :Title "modbus with pre script"
    :Element ["*"]
    :Definition [[{:TaskName "VS_SE3-set_valve_pos",
                   :Replace {:%valve "V1",
                             :%should "close"}}
                  {:TaskName "VS_SE3-set_valve_pos",
                   :Replace {:%valve "V1",
                             :%should "open"}}]]
    }]}}