{:_id "mpd-wait",
 :_rev "1-7c9116bcfc604970614881843700e3ce",
 :Mp
 {:Date [{:Type "created", :Value "2019-12-25"}],
  :Name "wait",
  :Description "Simplest possible measurement programm definition.",
  :Standard "NN"
  :Container[
             {
              :Description "Just waits three times.",
              :Ctrl "void",
              :Title "Simple wait",
              :Element ["*"],
              :Definition [
                           [
                            {:TaskName "Common-wait",
                             :Replace {:%waittime 3000}
                             }
                            ],
                           [
                            {:TaskName "Common-wait",
                             :Replace {:%waittime 2000}
                             }
                            ],
                           [
                            {:TaskName "Common-wait",
                             :Replace {:%waittime 1000}
                             }
                            ]
                           ]
              },
             {
              :Description "Just waits three times.",
              :Ctrl "void",
              :Title "Simple wait",
              :Element ["*"],
              :Definition [
                           [
                            {:TaskName "Common-wait",
                             :Replace {:%waittime 3000}
                             },
                            {:TaskName "Common-wait",
                             :Replace {:%waittime 3000}
                             },
                            {:TaskName "Common-wait",
                             :Replace {:%waittime 3000}
                             }
                            ]
                           ]
              }
             ]
  }
 }
