{:_id "mpd-devs",
  :Mp
 {
  :Date [{:Type "created", :Value "2020-02-01"}],
  :Name "wait",
  :Description "Device tests agains the devhub.",
  :Standard "NN"
  :Exchange {
            ;; :Vraw_block1 [
            ;;                1,0,1,0,
            ;;                0,0,0,0,
            ;;                0,0,0,0,
            ;;                1,0,0,0,
            ;;                0,0,0,0,
            ;;                0,0,1,0
            ;;                ]
            ;; :Vraw_block2 [
            ;;                0,0,1,0,
            ;;                0,0,0,0,
            ;;                0,0,0,0,
            ;;                0,0,1,0,
            ;;                0,0,0,0,
            ;;                0,0,0,0
            ;;                ]
            ;; :Vraw_block3 [
            ;;               0,0,0,0,
            ;;               0,0,1,0,
            ;;               0,0,0,0,
            ;;               0,0,0,0,
            ;;               1,1,1,0,
            ;;               0,0,0,0
            ;;               ],
            ;; :Vraw_block4 [
            ;;               0,0,0,0,
            ;;               0,0,0,0,
            ;;               1,1,1,0,
            ;;               0,0,0,0,
            ;;               0,0,0,0,
            ;;               0,0,0,0
            ;;               ],
            ;; :Vraw_block5  [
            ;;               1,1,0,0,
            ;;               0,0,0,0,
            ;;               0,0,0,0,
            ;;               0,0,0,0,
            ;;               0,0,0,0,
            ;;               0,0,0,0
            ;;               ]
             }
  :Container
  [{:Description "Test modbus action with prescript (get)"
    :Ctrl "void"
    :Title "modbus get test"
    :Element ["*"]
    :Definition [
                 [{:TaskName "VS_NEW_SE3-get_valve_pos",
                   :Replace {:%valve "V1"}}]
                 [{:TaskName "VS_NEW_SE3-get_valve_pos",
                   :Replace {:%valve "V2"}}]]
    }
   {:Description "Test modbus action with prescript (set)"
    :Ctrl "void"
    :Title "modbus set test"
    :Element ["*"]
    :Definition [
                 [{:TaskName "VS_NEW_SE3-set_valve_pos",
                   :Replace {:%valve "V1",
                             :%should "close"}}]
                 [{:TaskName "Common-wait"
                   :Replace {:%waittime 3000}}]
                 [{:TaskName "VS_NEW_SE3-set_valve_pos",
                   :Replace {:%valve "V1",
                             :%should "open"}}]]
    }
    {:Description "Test TCP action."
    :Ctrl "void"
    :Title "TCP test with result set."
    :Element ["*"]
    :Definition [
                 [{:TaskName "MKS_SRG_3-read_out",
                   :Replace {:%docpath "Measurement.Values.Pressure"}}]
                 ]}
   ]}}

