{:_id "mpd-ref",
 :_rev "6-b4475e103286fba67eb4ad849270841d",
 :Mp
 {
  :Date [{:Type "created", :Value "2020-01-11"}],
  :Name "wait",
  :Description "Simple measurement programm definition (mpd).",
  :Standard "NN"
  ;; endpoint for exchanging data and
  ;; information:
  :Exchange {
             ;; one level deep nested values ..
             :A {:Unit "Pa", :Value 100}
             ;; .. or flat values are valid
             :B "token"}
  :Container
  [
   ;; first container
   {:Description "Container just waits parallel and sequential.",
    :Ctrl "void",
    :Title "Simple wait",
    :Element ["*"],
    :Definition
    [[{:TaskName "Common-wait", :Replace {:%waittime 3000}}
      {:TaskName "Common-wait", :Replace {:%waittime 4000}}]
     [{:TaskName "Common-wait", :Replace {:%waittime 2000}}
      {:TaskName "Common-wait", :Replace {:%waittime 3000}}
      {:TaskName "Common-wait", :Replace {:%waittime 3000}}
      {:TaskName "Common-wait", :Replace {:%waittime 3000}}]
     [{:TaskName "Common-wait", :Replace {:%waittime 1000}}]]}
   ;; second container
   {:Description "Just waits",
    :Ctrl "void",
    :Title "choose definitions",
    :Element ["*"],
    :Definition
    [[{:TaskName "Common-select_definition",
       :Replace {:%definitionclass "wait"}}]]}],
  ;; definitions section
  :Definitions
  [{:DefinitionClass "wait",
    :ShortDescr "just waits\n",
    ;; condition for the
    ;; the exec. of the first
    ;; definition for the class wait
    :Condition
    [{:ExchangePath "A.Unit", :Methode "eq", :Value "Pa"}
     {:ExchangePath "A.Value", :Methode "gt", :Value 133}],
    :Definition
    [[{:TaskName "Common-wait", :Replace {:%waittime 3000}}
      {:TaskName "Common-wait", :Replace {:%waittime 4000}}]]}
   {:DefinitionClass "wait",
    :ShortDescr "just waits\n",
    ;; condition for the
    ;; the exec. of the second
    ;; definition for the class wait
    :Condition
    [{:ExchangePath "A.Unit", :Methode "eq", :Value "Pa"}
     {:ExchangePath "A.Value", :Methode "lt", :Value 133}],
    :Definition
    [[{:TaskName "Common-wait", :Replace {:%waittime 3000}}
      {:TaskName "Common-wait", :Replace {:%waittime 4000}}]]}
   {:DefinitionClass "wait",
    :ShortDescr "just waits\n",
    :Condition
    [{:ExchangePath "A.Unit", :Methode "eq", :Value "Pa"}
     {:ExchangePath "A.Value", :Methode "lt", :Value 13}],
    :Definition
    [[{:TaskName "Common-wait", :Replace {:%waittime 3000}}
      {:TaskName "Common-wait", :Replace {:%waittime 4000}}]]}],
}}