{
 :TaskName "VS_CMP_SE3-get_valve_pos"
 :Comment "Liefert die Ventilposition des Ventils %valve."
 :FunctionCode "ReadHoldingRegisters"
 :OutMode "8Bits*"
 :Quantity 5
 :Skip  1
 :Host "%host"
 :Action "%acc"
 :PreScript "get_valve_pos"
 :PreInput {
            :valve "%valve"
            }
 :Defaults {
            :%host "172.30.56.46"
            :%acc "MODBUS"
            }
 :PostProcessing [
                  "var _pos = {'V1': 0, 'V2': 2,'V3': 4,'V4': 6, ",
                  "'V5': 0 , 'V6': 2,'V7': 4,'V8': 6, ",
                  "'V9': 4 , 'V10': 2,'V11': 0,'V12': 6,",
                  "'V13': 0 , 'V14': 2,'V15': 4,'V16': 6,",
                  "'V17': 0 , 'V18': 1,'V19': 2,'V20': 3};",
                  "var _block =  {'V1': '1', 'V2': '1','V3': '1','V4': 1, ",
                  "'V5': 2, 'V6': 2,'V7': 2,'V8': 2, ",
                  "'V9': 3 , 'V10': 3,'V11': 3,'V12': 3,",
                  "'V13': 4 , 'V14': 4,'V15': 4,'V16': 4,",
                  "'V17': 5 , 'V18': 5,'V19': 5,'V20': 5};",
                  "var ToExchange = {}",
                  "ToExchange['%valve'] = {'Bool':_x[_pos['%valve']]};",
                  "ToExchange['Vraw_block' + _block['%valve']] = _x;"
                  ]
 }
