.executed {
    color: #5FB404;
}

.ready {
    color: #1F85DE;
}

.void {
    color: #1F85DE;
}

.working {
    color: #DE8B1F;
}

.mon {
    color: #DE8B1F;
}

.error {
    color:#d9534f;
}

col.value {
    width:200px;
}

col.key {
    width:10px;
}

col.mon {
    width:10px;
}

col.stop {
    width:10px;
}

col.run {
    width:10px;
}

col.executed {
    width:10px;
}

col.working {
    width:10px;
}

col.ready {
    width:10px;
}

col.func {
    width:100px;
}

col.struct {
    width:100px;
}

col.no-idx {
    width:100px;
}
